/plots
/KShortPipLambda/sdme/config/fit_ranking.txt
/KShortPipLambda/sdme/config/outFIT020626_sp18fa18sp20_forData_v1.txt
/KShortPipLambda/sdme/config/outPLOT020626_sp18fa18sp20_forData_v1.txt
/KShortPipLambda/sdme/config/testFit_successful/
/_plots
/files/
# /scripts/
/FSRoot/
/hd_utilities/
/forMalte/
/fsroot_TEMP/
/w/halld-scshelf2101/home/dbarton/gluex/dselectors/tmp/packages/
/monteCarlo/mcAnalysis/_plots/
/w/halld-scshelf2101/home/dbarton/gluex/dselectors/forRichardJones/
/dselectors/forRichardJones/
/KShortPipLambda/angularFits/config/configHAO/
*.fit
*.ni
*/tmp/
*.root
*.d
*.so
*.pcm
*.png
*.pdf
.nfs*
*.so.5
*.root
*.root.weight
*xpdf*
pathlength_sigVSpip2pim_m.png
tree_pipkmks__B4_M16_042077.root
beamX4meas.C
pip2pim_m.png
pipkmks_flat_bestX2_2017.root
pippim.C
pip2pim_m.root
DSelectors/IM_k_minus.png
outputs_archive/beamX4meas.pdf
outputs_archive/beamX4meas.png
outputs_archive/beamX4meas.root
outputs_archive/randFill.png
outputs_archive/sel1.root
archive/BeamX4meas_Tutorial.C
archive/BeamX4meas_useTTree.C
archive/pipkmks_flat_bestX2_columnHeaders.txt
archive/readTTreeHeaders_anyTFile.C
DSelectors/DSelector_sel1_C.so
DSelectors/DSelector_sel1_C.d
DSelectors/DSelector_sel1_C_ACLiC_dict_rdict.pcm
DSelectors/archive/.vscode/settings.json
DSelectors/archive/DSelector_f1_analysis.C
DSelectors/archive/DSelector_sel1_OLD1.C
DSelectors/archive/DSelector_sel1_v2_C.d
DSelectors/archive/DSelector_sel1_v2.C
DSelectors/archive/DSelector_sel1.C
DSelectors/archive/DSelector_sel1.h
DSelectors/archive/DSelector_unqiueTracking.C
DSelectors/archive/sel1_v2.root
DSelectors/archive/sel1.root
ks_fs_3_Tyler051323.png
pip1p_m.png
e_beam.png
pip1p_fs_m.png
pip2pim_fs_m.png
pkm_fs_m.png
dselectors/archive/.vscode/settings.json
dselectors/archive/DSelector_f1_analysis.C
dselectors/archive/DSelector_sel1_OLD1.C
dselectors/archive/DSelector_sel1_v2_C.d
dselectors/archive/DSelector_sel1_v2.C
dselectors/archive/DSelector_sel1.C
dselectors/archive/DSelector_sel1.h
dselectors/archive/DSelector_unqiueTracking.C
dselectors/archive/sel1_v2.root
dselectors/archive/sel1.root
dselectors/DSelector_sel1_C_ACLiC_dict_rdict.pcm
dselectors/DSelector_sel1_C.so
dselectors/DSelector_sel1_C.d
dselectors/IM_k_minus.png
colorWheel.png
plots/f1_m_fit_bw+bw1420.png
analysis/f1_flat_bx2_analysis_FILTERS.C
analysis/tree_pipkmks__B4_M16_042011Headers.txt
plots/voigtian.png
presenting/export/
presenting/math.md
analysis/f1_event_selection.pdf
dselectors/proof_error.txt
dselectors/proof.txt
dselectors/DSelector_KKpi_mc_v2.C
dselectors/DSelector_KKpi_mc_v3.C
dselectors/DSelector_omegaEta.C
dselectors/DSelector_pipkmks_flat_bestchi2.C
dselectors/proof_error_v1.txt
dselectors/proof_v1.txt
dselectors/proof_error_v0.txt
dselectors/proof_v0.txt
dselectors/proof_error_vTYLER.txt
dselectors/proof_vTYLER.txt
dselectors/proof_error_v2.txt
dselectors/proof_v2.txt
dselectors/macroRunDS.cc
dselectors/proof_error_THROWN_vTYLER.txt
dselectors/proof_THROWN_vTYLER.txt
dselectors/runDSelectorINTERACTIVE_proof_error_THROWN.txt
dselectors/runDSelectorINTERACTIVE_proof_THROWN.txt
dselectors/RawData_Thrown.xlsx
dselectors/genr8_030738_000.ascii
dselectors/RawData_Thrown.txt
dselectors/ThrownTrees_rawData.txt
dselectors/runDSelectorINTERACTIVE_proof_vTYLER_error_THROWN.txt
dselectors/runDSelectorINTERACTIVE_proof_vTYLER_THROWN.txt
dselectors/DSelectorBackup.C
dselectors/archive/DSelector_f1_analysis.h
dselectors/archive/DSelector_KKpi_mc_v1.h
dselectors/archive/DSelector_KKpi_mc_v2.h
dselectors/DSelector_mc_pipkmks_thrown.C
dselectors/DSelector_mc_pipkmks_thrown.h
dselectors/DSelector_pipkmks_flat_bestchi2.h
dselectors/DSelector_OmegaKLambdaNew.C
dselectors/.nfs00000000489c7f030002a180
dselectors/.nfs00000000489c77470002a17f
analysisMC/config_files/particleType.h
dselectors/gen_amp_V2_030274_000.hddm
dselectors/local_beam.conf
dselectors/runDSelectorINTERACTIVE_proof_error_OLD.txt.bat
dselectors/runDSelectorINTERACTIVE_proof_error.txt
dselectors/runDSelectorINTERACTIVE_proof.txt
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
dselectors/DSelector_OmegaKLambdaData.C
dselectors/DSelector_OmegaKLambdaData.h
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
dselectors/DSelector_DEBUGGING.ipynb
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
dselectors/tempMC/configurations/geant/control_031003_000.in
dselectors/tempMC/configurations/generation/gen_amp_V2_031003_000.conf
dselectors/tempMC/hddm/dana_rest_ana_gen_amp_V2_031003_000.hddm
dselectors/tempMC/hddm/dana_rest_gen_amp_V2_031003_000.hddm
analysisMC/config_files/31003_0/DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/root_analysis/MC/a0KKpi_MC_v3/configurations/geant/control_031003_000.in
analysisMC/config_files/30300_0/BHgen_stats.astate
analysisMC/config_files/30300_0/BHgen_thread_1.astate
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
dselectors/.nfs000000004c1284b700001e53
dselectors/runDSelectorINTERACTIVE.cc
dselectors/runDSelectorINTERACTIVE.csh
analysis_KpiLambda/readROOT_TreesHeaders.ipynb
analysis_KsPipLambda/FSRoot_test.C
analysis_KsPipLambda/treeHeaders.txt
analysis_KpPi0Lambda/readROOT_TreesHeaders.ipynb
analysis_KsPipLambda_MC/config_files/beam.config
analysis_KsPipLambda_MC/config_files/ganamp2_KsPipLamb.cfg
analysis_KsPipLambda_MC/config_files/genr8_KsPipLamb.input
analysis_KsPipLambda_MC/config_files/gluex_MC.py
analysis_KsPipLambda_MC/config_files/jana_analysis_KsPipLamb.config
analysis_KsPipLambda_MC/config_files/local_beam.conf
analysis_KsPipLambda_MC/config_files/MC.config
analysis_KsPipLambda_MC/config_files/particleType.h
out.txt
setenv
51768_0/BHgen_stats.astate
51768_0/BHgen_thread_1.astate
51768_0/control.in
51768_0/genr8_051768_000_geant4_smeared.hddm
51768_0/genr8_051768_000_geant4.hddm
51768_0/genr8_051768_000.conf
51768_0/temp_Gcontrol.in
PyAmpTools/pyamptools.sif
KShortPipLambda_MC/config_files/KEVIN_a2minus.input
KShortPipLambda_MC/config_files/MC_kevin.config
KShortPipLambda/plotting.C
KpKmEta_BRADLEY/BRADLEY_kpkmeta_analysis.ipynb
KShortPipLambda/histos_pipkslamb.cache.dat
forBradley/BRADLEY_kpkmeta_analysis.ipynb
etapi_2022tutorial/displayFitResults
etapi_2022tutorial/etapi0_SD_TMD_allPol.cfg
etapi_2022tutorial/etapi0_SD_TMD_onePol.cfg
etapi_2022tutorial/Makefile
etapi_2022tutorial/plots.C
etapi_2022tutorial/README
etapi_2022tutorial/skim_a2.C
etapi_2022tutorial/starting_params.cfg
KShortPipLambda/sdme/config/configHAO/beam.config
KShortPipLambda/sdme/config/configHAO/fit_hyperon.cfg
KShortPipLambda/sdme/config/configHAO/fit_kpi_amplitude_P_Lambda.cfg
KShortPipLambda/sdme/config/configHAO/fit_kpi_amplitude_refl+_Lambda.cfg
KShortPipLambda/sdme/config/configHAO/fit_kpi_amplitude_refl+_truth_Lambda.cfg
KShortPipLambda/sdme/config/configHAO/fit_kpi_amplitude_SP_Lambda.cfg
KShortPipLambda/sdme/config/configHAO/fit_kpi_amplitude_SPD_Lambda.cfg
KShortPipLambda/sdme/config/configHAO/fit_kplamb.cfg
KShortPipLambda/sdme/config/configHAO/fit_mass-independent_SP_refl+.cfg
KShortPipLambda/sdme/config/configHAO/fit_massdependent_SP_refl+.cfg
KShortPipLambda/sdme/config/configHAO/fit_twoPSsdme_hyperon_0_90.cfg
KShortPipLambda/sdme/config/configHAO/fit_twoPSsdme_hyperon.cfg
KShortPipLambda/sdme/config/configHAO/fit_twoPSsdme_test.cfg
KShortPipLambda/sdme/config/configHAO/fit_twoPSsdme.cfg
KShortPipLambda/sdme/config/configHAO/FSROOT_fit_mass-independent_SP_refl+_realS0.cfg
KShortPipLambda/sdme/config/configHAO/FSROOT_fit_mass-independent_SP_refl+.cfg
KShortPipLambda/sdme/config/configHAO/FSROOT_fit_mass-independent_SPD_refl+.cfg
KShortPipLambda/sdme/config/configHAO/FSROOT_truthfit_kpi_mass-dependent_SP_refl+.cfg
KShortPipLambda/sdme/config/configHAO/L4Pol_FSROOT_fit_mass-independent_P_refl+.cfg
KShortPipLambda/sdme/config/configHAO/L4Pol_FSROOT_fit_mass-independent_SP_refl+.cfg
KShortPipLambda/sdme/config/configHAO/L4Pol_FSROOT_fit_mass-independent_SPD_refl+.cfg
KShortPipLambda/sdme/config/configHAO/truthfit_kpi_mass-dependent_SP_refl+.cfg
bin/XpdfReader-linux64-4.05/Qt-LGPLv21
bin/XpdfReader-linux64-4.05/README
etapi_2022tutorial/displayFitResults.cc
fromMalte/EtaPi0_FSRoot/skim.C
KShortPipLambda/sdme/config/outPLOT.txt
forSashi/treeHeaders.txt
KShortPipLambda/mass_pi_pi_eta.txt
KShortPipLambda/sdme/twopi_fitPars.txt
KShortPipLambda/sdme/config/twopi_fitPars.txt
KShortPipLambda/sdme/fits/fit_ranking.xlsx
KShortPipLambda/sdme/fits/outPlotGen_twopi_plotter.txt
KShortPipLambda/sdme/fits/twopi_fitPars.txt
KShortPipLambda/sdme/plots/sdme_plots.pdf)
KShortPipLambda_MC/config_files/genamp2_KsPipLamb_ORIG.cfg
