PLUGINS ReactionFilter
# PLUGINS danarest,monitoring_hists,ReactionFilter

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
# NTHREADS 1

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

# JANA_CALIB_CONTEXT variation=mc # default is already 'mc' #calibtime=2016-11-28-18-47-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

# JANA:MAX_RELAUNCH_THREADS 10

# PRESELECT:MIN_BCAL_E 0.05

Reaction1 1_14__8_16_18
#Reaction1:Decay1 189__8_12
#Reaction1:Decay2 193__9_11_14
Reaction1:Flags B4_M16_M18
