NCORES=1

GENERATOR=gen_amp_V2
GENERATOR_CONFIG=/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/genamp2_KsPipLamb_phaseSpace.cfg
GEANT_VERSION=4
# NOSECONDARIES=0


#====================================================================================
# Select if running inside a container (needed when generating Monte Carlo with xml versions older then the most current).
GENERATOR_OS=centos7     #use only if code needs to run on special OS, either centos7 or alma9 container are supported
POSTGEN_OS=centos7       #use only if code needs to run on special OS, either centos7 or alma9 container are supported
SIMULATION_OS=centos7    #use only if code needs to run on special OS, either centos7 or alma9 container are supported
MCSMEAR_OS=centos7       #use only if code needs to run on special OS, either centos7 or alma9 container are supported
RECON_OS=centos7         #use only if code needs to run on special OS, either centos7 or alma9 container are supported
ANA_OS=centos7           #use only if code needs to run on special OS, either centos7 or alma9 container are supported
#====================================================================================


#====================================================================================
# Comment / un-comment run period below depending on which you are generating for (Spring 2018, Fall 2018, etc.)
#====================================================================================

# ------------- Spring 2018 ----------------
# Change each time running script (or delete in Swif2)
# WORKFLOW_NAME=MC_pipkslamb_2018-01_phaseSpace

# DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/pipkslamb/mc/spring2018/phaseSpace20260606_200M

# GEN_MIN_ENERGY=8.2
# GEN_MAX_ENERGY=8.8

# RCDB_QUERY=@is_2018production and @status_approved
# ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2018_01-ver02_32.xml
# ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2018_01-ver23.xml

# STANDARD: Select this to include random background events
# BKG=Random:recon-2018_01-ver02.2

# OPTIONAL: Select this for no random background
# BKG=None


# -------------- Fall 2018 ---------------
# Change each time running script (or delete in Swif2)
# WORKFLOW_NAME=MC_pipkslamb_2018-08_phaseSpace

# DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/pipkslamb/mc/fall2018/phaseSpace20260609_200M

# GEN_MIN_ENERGY=8.2
# GEN_MAX_ENERGY=8.8

# RCDB_QUERY=@is_2018production and @status_approved and beam_on_current>49
# ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2018_08-ver02_30.xml
# ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2018_08-ver22.xml

# # STANDARD: Select this to include random background events
# BKG=Random:recon-2018_08-ver02.2

# OPTIONAL: Select this for no random background
# BKG=None


# -------------- Spring 2020 ---------------
# Change each time running script (or delete in Swif2)
WORKFLOW_NAME=MC_pipkslamb_2020-01_phaseSpace_spring2020

DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/pipkslamb/mc/spring2020/phaseSpace20260606_400M

GEN_MIN_ENERGY=8.0
GEN_MAX_ENERGY=8.6

RCDB_QUERY=@is_dirc_production and @status_approved
ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2019_11-ver01_13.xml
ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2019_11-ver09.xml

# STANDARD: Select this to include random background events
BKG=Random:recon-2019_11-ver01
# BKG=Random:recon-2019_11-ver01.2
# BKG=Random:recon-2019_11-ver01_10.xml

# OPTIONAL: Select this for no random background
# BKG=None




# ------------- Same for Spring 2018 / Fall 2018 / Spring 2020 ----------------
CUSTOM_ANA_PLUGINS=file:/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/jana_analysis_KsPipLamb.config
# CUSTOM_PLUGINS=file:/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/jana_analysis_KsPipLamb.config


#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
BATCH_SYSTEM=swif2cont #can be swif or swif2 or swi2cont or condor or osg or qsub adding :[name] will pass -q [name] into PBS.

# for WORKFLOW name see individual run periods above

# for swif
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	 # https://scicomp.jlab.org/docs/batch_job_tracks
# for swif2
ACCOUNT = halld          # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
PARTITION = production        # https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
EXPERIMENT = GlueX       # GlueX (default) or CPP

# RESOURCES for swif(2) jobs
DISK=5GB            # Max Disk usage
RAM=2GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=el9        # Specify CentOS65 machines
