NCORES=1

GEN_MIN_ENERGY=8.0
GEN_MAX_ENERGY=9.0
GENERATOR=gen_amp_V2
GENERATOR_CONFIG=/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/ganamp2_KsPipLamb.cfg
GEANT_VERSION=4
# NOSECONDARIES=0
# BKG=Random:recon-2018_08-ver02.2
BKG=None
DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/pipkslamb/mc/genamp2/spring2018
# RCDB_QUERY=@is_production and @status_approved
# CUSTOM_ANA_PLUGINS=file:/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/jana_analysis_KsPipLamb.config
CUSTOM_PLUGINS=file:/work/halld/home/dbarton/gluex/KShortPipLambda_MC/config_files/jana_analysis_KsPipLamb.config
# ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2018_08-ver22.xml
ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2018_01-ver24.xml


#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
BATCH_SYSTEM=swif2cont #can be swif or swif2 or condor or osg or qsub adding :[name] will pass -q [name] into PBS.

#environment file location
# ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2018_08-ver02_31.xml
ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2018_01-ver02_32.xml


WORKFLOW_NAME=MC_pipkslamb_genamp2_2018-01-ALL #SWIF WORKFLOW NAME

# for swif
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	 # https://scicomp.jlab.org/docs/batch_job_tracks
# for swif2
ACCOUNT = halld          # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
PARTITION = production        # https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
EXPERIMENT = GlueX       # GlueX (default) or CPP

# RESOURCES for swif(2) jobs
DISK=5GB            # Max Disk usage
RAM=2GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=el9        # Specify CentOS65 machines
