#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ...
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian")
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################


#####################################
# GLOBAL VARIABLES & FILES
#####################################
fit twoPS_sdme_allPol

define BASEDIR /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/

define SIG0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_t0103_pol0.root
define SIG45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_t0103_pol45.root
define SIG90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_t0103_pol90.root
define SIG135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_t0103_pol135.root

define BKGND0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol0.root
define BKGND45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol45.root
define BKGND90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol90.root
define BKGND135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol135.root

define BKGNDWT0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol0.root.weight
define BKGNDWT45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol45.root.weight
define BKGNDWT90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol90.root.weight
define BKGNDWT135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_t0103_pol135.root.weight

define ACCMC0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root
define ACCMC45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root
define ACCMC90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root
define ACCMC135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root

define ACCMCWT0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root.weight
define ACCMCWT45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root.weight
define ACCMCWT90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root.weight
define ACCMCWT135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC_t0103.root.weight

define GENMC0   /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN_t0103_sp18fa18sp20.root
define GENMC45  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN_t0103_sp18fa18sp20.root
define GENMC90  /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN_t0103_sp18fa18sp20.root
define GENMC135 /work/halld/home/dbarton/gluex/KShortPipLambda/fitSourceFiles/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN_t0103_sp18fa18sp20.root

# Initial values from Farah's Delta SDMEs fit
parameter parScale00_s18fa18 1.00000 fixed
parameter parScale135_s18fa18 0.98276
parameter parScale45_s18fa18 0.98519
parameter parScale90_s18fa18 0.97455


# SDME FIT FUNCTION PARAMETERS
define polVal_00 0.3519
define polVal_45 0.3374
define polVal_90 0.3303
define polVal_135 0.3375

define polAngle_00  0.0
define polAngle_45  45.0
define polAngle_90  90.0
define polAngle_135 135.0

define Kstar 0.892 0.050

# BACKGROUND FIT FUNCTION PARAMETERS
# define bern_xmin 0.6
# define bern_xmax 2.5
# define bern_deg  3
# select only signal region
# define bern_xmin 0.8
# define bern_xmax 1.0
# define bern_deg  3

# parameter bern_c0 0.0 fixed
# parameter bern_c1 0.984914 fixed
# parameter bern_c2 0.018133 fixed
# parameter bern_c3 0.0 fixed

#####################################
# LOOP STATEMENTS
#####################################
loop LOOPREAC KsPipLamb_00 KsPipLamb_45 KsPipLamb_90 KsPipLamb_135

loop LOOPDATA    SIG0    SIG45    SIG90    SIG135
loop LOOPBKGND   BKGND0  BKGND45  BKGND90  BKGND135
loop LOOPBKGNDWT BKGNDWT0 BKGNDWT45 BKGNDWT90 BKGNDWT135
loop LOOPACCMC   ACCMC0  ACCMC45  ACCMC90  ACCMC135
loop LOOPACCMCWT ACCMCWT0 ACCMCWT45 ACCMCWT90 ACCMCWT135
loop LOOPGENMC   GENMC0  GENMC45  GENMC90  GENMC135

loop LOOPPOLANG polAngle_00 polAngle_45 polAngle_90 polAngle_135
loop LOOPPOLVAL polVal_00 polVal_45 polVal_90 polVal_135

loop LOOPSCALE [parScale00_s18fa18] [parScale45_s18fa18] [parScale90_s18fa18] [parScale135_s18fa18]

#####################################
# SETUP INPUT, REACTIONS, SUMS
#####################################

reaction LOOPREAC Beam Lambda KShort Pi+

data   LOOPREAC FSRootDataReader LOOPDATA   ntFSGlueX_100000000_1100 3
bkgnd  LOOPREAC FSRootDataReader LOOPBKGND  ntFSGlueX_100000000_1100 3 LOOPBKGNDWT ntFSGlueX_100000000_1100_weight weight
accmc  LOOPREAC FSRootDataReader LOOPACCMC  ntFSGlueX_100000000_1100 3 LOOPACCMCWT ntFSGlueX_100000000_1100_weight weight
genmc  LOOPREAC FSRootDataReader LOOPGENMC  ntFSGlueX_100000000_1100 3 MC

sum LOOPREAC ReZ_1-P
sum LOOPREAC ImZ_1+P
sum LOOPREAC ReZ_1+P
sum LOOPREAC ImZ_1-P

# normintfile LOOPREAC normFile_TwoPiAngles_allPol.ni

#####################################
# DEFINE AMPLITUDES
#####################################



#####################################
# SINGLE SUM FOR SDMEs
#####################################
# S-Waves: amplitudes
amplitude LOOPREAC::ReZ_1-P::0S+0n Zlm 0 0 +1 -1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1+P::0S+0n Zlm 0 0 -1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ReZ_1+P::0S+0p Zlm 0 0 +1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1-P::0S+0p Zlm 0 0 -1 -1 LOOPPOLANG LOOPPOLVAL

# S-Waves: constrain reflectivity. n=negative reflectivity; p=positive reflectivity
constrain LOOPREAC::ReZ_1-P::0S+0n LOOPREAC::ImZ_1+P::0S+0n
constrain LOOPREAC::ReZ_1+P::0S+0p LOOPREAC::ImZ_1-P::0S+0p

# S-Waves: constrain datasets
constrain KsPipLamb_00::ReZ_1-P::0S+0n LOOPREAC::ReZ_1-P::0S+0n 
constrain KsPipLamb_00::ImZ_1+P::0S+0n LOOPREAC::ImZ_1+P::0S+0n 
constrain KsPipLamb_00::ReZ_1+P::0S+0p LOOPREAC::ReZ_1+P::0S+0p 
constrain KsPipLamb_00::ImZ_1-P::0S+0p LOOPREAC::ImZ_1-P::0S+0p 

# S-Waves: scale data sets
scale LOOPREAC::ReZ_1-P::0S+0n LOOPSCALE
scale LOOPREAC::ImZ_1+P::0S+0n LOOPSCALE
scale LOOPREAC::ReZ_1+P::0S+0p LOOPSCALE
scale LOOPREAC::ImZ_1-P::0S+0p LOOPSCALE

initialize LOOPREAC::ReZ_1-P::0S+0n cartesian 1.0 0.0
initialize LOOPREAC::ReZ_1+P::0S+0p cartesian 1.0 0.0


# P-Waves: amplitudes
amplitude LOOPREAC::ReZ_1-P::1P+1n Zlm 1 1 +1 -1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1+P::1P+1n Zlm 1 1 -1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ReZ_1+P::1P+1p Zlm 1 1 +1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1-P::1P+1p Zlm 1 1 -1 -1 LOOPPOLANG LOOPPOLVAL

amplitude LOOPREAC::ReZ_1-P::1P+0n Zlm 1 0 +1 -1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1+P::1P+0n Zlm 1 0 -1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ReZ_1+P::1P+0p Zlm 1 0 +1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1-P::1P+0p Zlm 1 0 -1 -1 LOOPPOLANG LOOPPOLVAL

amplitude LOOPREAC::ReZ_1-P::1P-1n Zlm 1 -1 +1 -1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1+P::1P-1n Zlm 1 -1 -1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ReZ_1+P::1P-1p Zlm 1 -1 +1 +1 LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::ImZ_1-P::1P-1p Zlm 1 -1 -1 -1 LOOPPOLANG LOOPPOLVAL


# P-Waves: constrain reflectivity. n=negative reflectivity; p=positive reflectivity
constrain LOOPREAC::ReZ_1-P::1P+1n LOOPREAC::ImZ_1+P::1P+1n
constrain LOOPREAC::ReZ_1+P::1P+1p LOOPREAC::ImZ_1-P::1P+1p

constrain LOOPREAC::ReZ_1-P::1P+0n LOOPREAC::ImZ_1+P::1P+0n
constrain LOOPREAC::ReZ_1+P::1P+0p LOOPREAC::ImZ_1-P::1P+0p

constrain LOOPREAC::ReZ_1-P::1P-1n LOOPREAC::ImZ_1+P::1P-1n
constrain LOOPREAC::ReZ_1+P::1P-1p LOOPREAC::ImZ_1-P::1P-1p

# P-Waves: constrain datasets
constrain KsPipLamb_00::ReZ_1-P::1P+1n LOOPREAC::ReZ_1-P::1P+1n
constrain KsPipLamb_00::ImZ_1+P::1P+1n LOOPREAC::ImZ_1+P::1P+1n
constrain KsPipLamb_00::ReZ_1+P::1P+1p LOOPREAC::ReZ_1+P::1P+1p
constrain KsPipLamb_00::ImZ_1-P::1P+1p LOOPREAC::ImZ_1-P::1P+1p

constrain KsPipLamb_00::ReZ_1-P::1P+0n LOOPREAC::ReZ_1-P::1P+0n
constrain KsPipLamb_00::ImZ_1+P::1P+0n LOOPREAC::ImZ_1+P::1P+0n
constrain KsPipLamb_00::ReZ_1+P::1P+0p LOOPREAC::ReZ_1+P::1P+0p
constrain KsPipLamb_00::ImZ_1-P::1P+0p LOOPREAC::ImZ_1-P::1P+0p

constrain KsPipLamb_00::ReZ_1-P::1P-1n LOOPREAC::ReZ_1-P::1P-1n
constrain KsPipLamb_00::ImZ_1+P::1P-1n LOOPREAC::ImZ_1+P::1P-1n
constrain KsPipLamb_00::ReZ_1+P::1P-1p LOOPREAC::ReZ_1+P::1P-1p
constrain KsPipLamb_00::ImZ_1-P::1P-1p LOOPREAC::ImZ_1-P::1P-1p

# P-Waves: scale data sets
scale LOOPREAC::ReZ_1-P::1P+1n LOOPSCALE
scale LOOPREAC::ImZ_1+P::1P+1n LOOPSCALE
scale LOOPREAC::ReZ_1+P::1P+1p LOOPSCALE
scale LOOPREAC::ImZ_1-P::1P+1p LOOPSCALE

scale LOOPREAC::ReZ_1-P::1P+0n LOOPSCALE
scale LOOPREAC::ImZ_1+P::1P+0n LOOPSCALE
scale LOOPREAC::ReZ_1+P::1P+0p LOOPSCALE
scale LOOPREAC::ImZ_1-P::1P+0p LOOPSCALE

scale LOOPREAC::ReZ_1-P::1P-1n LOOPSCALE
scale LOOPREAC::ImZ_1+P::1P-1n LOOPSCALE
scale LOOPREAC::ReZ_1+P::1P-1p LOOPSCALE
scale LOOPREAC::ImZ_1-P::1P-1p LOOPSCALE

initialize LOOPREAC::ReZ_1-P::1P+1n cartesian 1.0 0.0 real
initialize LOOPREAC::ReZ_1+P::1P+1p cartesian 1.0 0.0 real

initialize LOOPREAC::ReZ_1-P::1P+0n cartesian 1.0 0.0
initialize LOOPREAC::ReZ_1+P::1P+0p cartesian 1.0 0.0

initialize LOOPREAC::ReZ_1-P::1P-1n cartesian 1.0 0.0
initialize LOOPREAC::ReZ_1+P::1P-1p cartesian 1.0 0.0