NCORES=1

GEN_MIN_ENERGY=8.0
GEN_MAX_ENERGY=9.0
GENERATOR=gen_amp_V2
GENERATOR_CONFIG=/work/halld/home/dbarton/gluex/analysisMC/config_files/gen_interfere_a0KKpi.cfg
# COHERENT_PEAK=rcdb
GEANT_VERSION=4
# NOSECONDARIES=0
BKG=Random:recon-2017_01-ver03.2
# change to volatile
# DATA_OUTPUT_BASE_DIR=/lustre19/expphy/cache/halld/gluex_simulations/REQUESTED_MC/dbarton_mc_v1_pipkmks_GenAmp2_2017_01anaVer50
DATA_OUTPUT_BASE_DIR=/volatile/halld/home/dbarton/root_analysis/MC/KKpi_mc_flatte_v5
# DATA_OUTPUT_BASE_DIR=/w/halld-scshelf2101/home/dbarton/gluex/dselectors/tempMC # i made this directory 8/2024 when 'volatile' was inaccessable for a few days.
# RCDB_QUERY=@is_production and @status_approved
CUSTOM_ANA_PLUGINS=file:/work/halld/home/dbarton/gluex/analysisMC/config_files/jana_analysis.config
ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2017_01-ver50.xml

#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
BATCH_SYSTEM=swif2cont #can be swif or swif2 or condor or osg or qsub adding :[name] will pass -q [name] into PBS.

#environment file location
ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2017_01-ver03_39.xml

WORKFLOW_NAME=KKpi_flatte_MC_v5 #SWIF WORKFLOW NAME

# for swif
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	 # https://scicomp.jlab.org/docs/batch_job_tracks
# for swif2
ACCOUNT = halld          # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
PARTITION = production        # https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
EXPERIMENT = GlueX       # GlueX (default) or CPP

# RESOURCES for swif(2) jobs
DISK=5GB            # Max Disk usage
RAM=2GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=el9        # Specify CentOS65 machines
