# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                 
TRACK                         production            
OS                            el9
USER                          dbarton

# JOB RESOURCES
NCORES                        4
DISK                          50GB
RAM                           10GB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       22
BATCH                         01
WORKFLOW                      dselector_[RUNPERIOD]_ver[VERSION]_batch[BATCH]_MC_pipkmks

# JOB, SCRIPT CONTROL
ENVFILE                       version.xml
SCRIPTFILE                    /group/halld/Software/builds/Linux_CentOS7.7-x86_64-gcc4.8.5/hd_utilities/hd_utilities-1.47/launch_scripts/root_analysis/script.sh

# ROOT CONFIG
ROOT_SCRIPT                   /w/halld-scshelf2101/home/dbarton/gluex/dselectors/Run_Selector.C
# TREE_NAME                   pi0pippimeta__B4_M17_Tree #this is Edmundo's tree
TREE_NAME                     pipkmks__B4_M16_Tree
#TREE_NAME                    Thrown_Tree
# SELECTOR_NAME               /w/halld-scshelf2101/home/ebarriga/forNStar/DSelector_files/DSelector_omegaEta #Leave the .C off the end!
SELECTOR_NAME                 /w/halld-scshelf2101/home/dbarton/gluex/dselectors/DSelector_f1_analysis


# FILE INPUT, OUTPUT BASE DIRECTORIES
# Data path
# INDATA_TOPDIR     /cache/halld/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]/tree_pi0pippimeta__B4/merged/
# MC path
# INDATA_TOPDIR     /cache/halld/gluex_simulations/REQUESTED_MC/ebarriga_omegaEtaP_3body_Spring2018_postTOF_3749/trees/tree_pi0pippimeta__B4_M17_python/
INDATA_TOPDIR      /cache/halld/gluex_simulations/REQUESTED_MC/dbarton_MC_v1_pipkmks_genr8_2017_01_anaVer50_3837/trees/tree_pipkmks__B4_M16_genr8/
# MC thrown path
#INDATA_TOPDIR       /cache/halld/gluex_simulations/REQUESTED_MC/ebarriga_omegaEta_spring_2018_genr8_PWA_v01_3651/thrown/

# FOR FULL RECON LAUNCHES
# OUTDIR_LARGE    /volatile/halld/home/ebarriga/root_analysis/MC/NStar/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_LARGE      /volatile/halld/home/dbarton/root_analysis/MC/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/
OUTDIR_SMALL      /volatile/halld/home/dbarton/root_analysis/MC/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/               # log files, IDXA

# FILE INPUT, OUTPUT BASE DIRECTORIES
# INDATA_TOPDIR     /cache/halld/gluex_simulations/REQUESTED_MC/ebarriga_omegaEtaP_3body_Spring2018_postTOF_3749/trees/tree_pi0pippimeta__B4_M17_python/
# #INDATA_TOPDIR     /cache/halld/gluex_simulations/REQUESTED_MC/ebarriga_omegaEta_fall_2018_genr8_PWA_v01_3650/thrown/
#
# # FOR FULL RECON LAUNCHES
# OUTDIR_LARGE      /volatile/halld/home/ebarriga/root_analysis/MC/NStar/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # REST, skims, hists, trees
# OUTDIR_SMALL      /farm_out/ebarriga/root_analysis/MC/NStar/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/               # log files, IDXA
