#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ...
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian")
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################


#####################################
# GLOBAL VARIABLES
#####################################
fit twoPS_sdme

define polVal_00 0.3519
define polAngle_00 0.0

# loop LOOPPOLANG [polAngle_00]

#####################################
# SETUP INPUT, REACTIONS, SUMS
#####################################

reaction kspiplamb Beam Lambda KShort Pi+

data kspiplamb FSRootDataReader ../files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892.root ntFSGlueX_100000000_1100 3

bkgnd kspiplamb FSRootDataReader ../files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892.root ntFSGlueX_100000000_1100 3 ../files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892.root.weight ntFSGlueX_100000000_1100_weight weight

accmc kspiplamb FSRootDataReader ../files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root ntFSGlueX_100000000_1100 3 ../files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root.weight ntFSGlueX_100000000_1100_weight weight

genmc kspiplamb FSRootDataReader ../files/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN.root ntFSGlueX_100000000_1100 3 MC

normintfile kspiplamb normFile_TwoPiAngles_onePol.ni

#####################################
# DEFINE AMPLITUDES 
#####################################

# external parameters
parameter rho000   0.0 bounded -1.0 1.0
parameter rho100   0.0 bounded -1.0 1.0
parameter rho1m10  0.0 bounded -1.0 1.0
parameter rho111   0.0 bounded -1.0 1.0
parameter rho001   0.0 bounded -1.0 1.0
parameter rho101   0.0 bounded -1.0 1.0
parameter rho1m11  0.0 bounded -1.0 1.0
parameter rho102   0.0 bounded -1.0 1.0
parameter rho1m12  0.0 bounded -1.0 1.0

keyword parSDME 1 1
parSDME rho000
parSDME rho100
parSDME rho1m10
parSDME rho111
parSDME rho001
parSDME rho101
parSDME rho1m11
parSDME rho102
parSDME rho1m12


# #####################################
# # SINGLE SUM FOR SDMEs
# #####################################
define Kstar 0.892 0.050
sum kspiplamb sdme
amplitude kspiplamb::sdme::kstar TwoPiAngles [rho000] [rho100] [rho1m10] [rho111] [rho001] [rho101] [rho1m11] [rho102] [rho1m12] polAngle_00 polVal_00
amplitude kspiplamb::sdme::kstar BreitWigner Kstar 1 2 3
initialize kspiplamb::sdme::kstar cartesian 1.0 0.0 real



