#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ...
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian")
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################


#####################################
# GLOBAL VARIABLES & FILES
#####################################
fit twoPS_sdme_allPol

define BASEDIR /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files

define SIG0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_pol_0.root
define SIG45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_pol_45.root
define SIG90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_pol_90.root
define SIG135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_pol_135.root

define BKGND0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_0.root
define BKGND45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_45.root
define BKGND90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_90.root
define BKGND135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_135.root

define BKGNDWT0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_0.root.weight
define BKGNDWT45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_45.root.weight
define BKGNDWT90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_90.root.weight
define BKGNDWT135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIDEBAND_SKIM_K892_pol_135.root.weight

define ACCMC0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root
define ACCMC45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root
define ACCMC90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root
define ACCMC135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root

define ACCMCWT0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root.weight
define ACCMCWT45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root.weight
define ACCMCWT90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root.weight
define ACCMCWT135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb__B4_M16_M18_SIGNAL_SKIM_K892_MC.root.weight

define GENMC0   /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN.root
define GENMC45  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN.root
define GENMC90  /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN.root
define GENMC135 /work/halld/home/dbarton/gluex/KShortPipLambda/sdme/files/tree_pipkslamb_SIGNAL_SKIM_K892_THROWN.root

define polVal_00 0.3519
define polVal_45 0.3374
define polVal_90 0.3303
define polVal_135 0.3375

parameter polAngle_00 0.0 fixed
parameter polAngle_45 45.0 fixed
parameter polAngle_90 90.0 fixed
parameter polAngle_135 135.0 fixed

define Kstar 0.892 0.050

#####################################
# LOOP STATEMENTS
#####################################
loop LOOPREAC KsPipLamb_00 KsPipLamb_45 KsPipLamb_90 KsPipLamb_135

loop LOOPDATA SIG0 SIG45 SIG90 SIG135
loop LOOPBKGND BKGND0 BKGND45 BKGND90 BKGND135
loop LOOPBKGNDWT BKGNDWT0 BKGNDWT45 BKGNDWT90 BKGNDWT135
loop LOOPACCMC ACCMC0 ACCMC45 ACCMC90 ACCMC135
loop LOOPACCMCWT ACCMCWT0 ACCMCWT45 ACCMCWT90 ACCMCWT135
loop LOOPGENMC GENMC0 GENMC45 GENMC90 GENMC135

loop LOOPPOLANG [polAngle_00] [polAngle_45] [polAngle_90] [polAngle_135]
loop LOOPPOLVAL polVal_00 polVal_45 polVal_90 polVal_135
loop LOOPGENMC GENMC0 GENMC45 GENMC90 GENMC135

loop LOOPPOLANG [polAngle_00] [polAngle_45] [polAngle_90] [polAngle_135]
loop LOOPPOLVAL polVal_00 polVal_45 polVal_90 polVal_135

#####################################
# SETUP INPUT, REACTIONS, SUMS
#####################################

reaction LOOPREAC Beam Lambda KShort Pi+

data LOOPREAC FSRootDataReader LOOPDATA ntFSGlueX_100000000_1100 3
bkgnd LOOPREAC FSRootDataReader LOOPBKGND ntFSGlueX_100000000_1100 3 LOOPBKGNDWT ntFSGlueX_100000000_1100_weight weight
accmc LOOPREAC FSRootDataReader LOOPACCMC ntFSGlueX_100000000_1100 3 LOOPACCMCWT ntFSGlueX_100000000_1100_weight weight
genmc LOOPREAC FSRootDataReader LOOPGENMC ntFSGlueX_100000000_1100 3 MC

sum LOOPREAC sdme

normintfile LOOPREAC normFile_TwoPiAngles_allPol.ni

#####################################
# DEFINE AMPLITUDES 
#####################################

# external parameters
parameter rho000   0.0 bounded -1.0 1.0
parameter rho100   0.0 bounded -1.0 1.0
parameter rho1m10  0.0 bounded -1.0 1.0
parameter rho111   0.0 bounded -1.0 1.0
parameter rho001   0.0 bounded -1.0 1.0
parameter rho101   0.0 bounded -1.0 1.0
parameter rho1m11  0.0 bounded -1.0 1.0
parameter rho102   0.0 bounded -1.0 1.0
parameter rho1m12  0.0 bounded -1.0 1.0

keyword parSDME 1 1
parSDME rho000
parSDME rho100
parSDME rho1m10
parSDME rho111
parSDME rho001
parSDME rho101
parSDME rho1m11
parSDME rho102
parSDME rho1m12


# #####################################
# # SINGLE SUM FOR SDMEs
# #####################################
amplitude LOOPREAC::sdme::kstar TwoPiAngles [rho000] [rho100] [rho1m10] [rho111] [rho001] [rho101] [rho1m11] [rho102] [rho1m12] LOOPPOLANG LOOPPOLVAL
amplitude LOOPREAC::sdme::kstar BreitWigner Kstar 1 2 3
initialize LOOPREAC::sdme::kstar cartesian 1.0 0.0 real